<div class ="row">
  <div class="col-md-5 col-md-offset-4">

    <div class="panel panel-primary">
      
      <div class="panel-heading">
        Book the Flight
      </div>

      <div class="panel-body">
        <form [formGroup]="bookingForm" (ngSubmit)="book()" class="form">
          <div class="form-group">
            <label for="passengerName">Passenger Name</label>
            <input type="text" class="form-control" formControlName="passengerName" id="passengerName">
            <span class="error-message" *ngIf="!bookingForm.controls.passengerName.valid && bookingForm.controls.passengerName.dirty">Field Required.</span>
          </div>

          <div class="form-group">
            <label for="noOfTickets">No of Tickets</label>
            <input type="number" class="form-control" formControlName="noOfTickets" id="noOfTickets">
            <span class="error-message" *ngIf="!bookingForm.controls.noOfTickets.valid && bookingForm.controls.noOfTickets.dirty">Enter the number of tickets greater than 0.</span>
          </div>

          <div class="form-group">
            <label for="flightId">Flight Id</label>
            <input type="text" class="form-control" formControlName="flightId">
            <span class="error-message" *ngIf="bookingForm.controls.flightId?.errors?.flightError && bookingForm.controls.flightId.dirty">Enter Valid Flight Id</span>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="!bookingForm.valid">Book</button>
          </div>
        </form>

        <div *ngIf="errorMessage!=null">
          <span class="error">{{errorMessage}}</span>
        </div>
        <div *ngIf="successMessage!=null">
          <span *ngIf="successMessage!=null">{{successMessage}}</span>
        </div>
      </div>

    </div>

  </div>
</div>